@font-face {
  font-family: 'Giants';
  src: url('./fonts/Giants-Regular.otf') format('opentype');
}

body {
	font-family: 'Giants-Regular';
}


.root-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.header-container {
  background-color: #e4787e;
}

.header-wrap {
  height: 64px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-left-wrap {
  display: flex;
}

.header-left-wrap ul {
  display: flex;
  margin-left: -10px;
}

.header-left-wrap li {
  margin-right: 14px;
  padding: 8px;
}

.header-nav-item {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.page-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 32px 0;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 16px;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

/*.movie-bg {
  position: absolute;
  overflow: hidden;
  height: 100%;
  border-radius: 5px;
}*/

.movie-overview {
  display: none;
  position: absolute;
  text-align: center;
  padding: 15px;
  width: 90%;
  font-size: 18px;
  height: calc(100% - 30px);
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
}

.movie-container:hover .movie-overview {
  display: block;
}

.movie-container img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.movie-info h4 {
  margin: 0;
}

.movie-info span {
  margin-left: 3px;
}

.auction-container {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  width:1200px;
  height:600px;
  background-color:rgb(253, 213, 234);
  border-radius: 60px;
}

.auction-board {
  width: 600px;
  height: 360px;
  background-color: azure;
  border-radius: 20px;
  margin: 40px auto;
}

.team-above {
  display: flex;
  justify-content: space-between;
}

.team1-container {
  width: 500px;
  height: 80px;
  background-color: blue;
}

.team-bottom {
  display: flex;
  position:relative;
  justify-content: space-between;
}

.team2-container {
  
  width: 500px;
  height: 80px;
  background-color: rgb(183, 255, 0);
}

.team3-container {
  
  width: 500px;
  height: 80px;
  background-color: rgb(0, 255, 213);
}